LEDGERFLOW_API_TOKEN=change-me
LEDGERFLOW_API_TOKENS=
LEDGERFLOW_DB=/data/ledgerflow.sqlite
LEDGERFLOW_DB_URL=
LEDGERFLOW_BODY_LIMIT_BYTES=1048576
LEDGERFLOW_RATE_LIMIT_MAX=300
LEDGERFLOW_RATE_LIMIT_WINDOW=1 minute
LEDGERFLOW_SERVE_WEB=1
LEDGERFLOW_WEB_ROOT=/app/web/dist
